﻿@{
    ViewBag.Title = "Api test";
}
<h2>API test</h2>

<p id="message" style="color:red;font-weight:bold"></p>
BOOK ID:
<ul id="Books"></ul>
<input type="text" id="bookId" />
<br />
<button onclick="doList()">LIST</button>
<button onclick="doListNEW()">New list</button>
<button onclick="doADD()">ADD</button>
<button onclick="doMOD()">MODIFY</button>
<button onclick="doDEL()">DELETE</button>


@section scripts
{
    <scrip language="javascript">
       
        var url = "http://localhost:61504/api/BookApi/";
       

    </scrip>


    
}
