﻿@model IEnumerable<CrudOperations.Models.Book>
<h2>List of Books</h2>
@if (Model.Count() == 0)
{
    <p>No data in the database</p>
}
else
{
    <table border="1">
        <tr>
        <thead>@Html.DisplayNameFor(x => x.First().Title)</thead>
        <thead>@Html.DisplayNameFor(x => x.First().Publisher)</thead>
        <thead>Datasheet</thead>
        <thead>Delete</thead>
        <thead>Edit</thead>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(x => item.Title)</td>
                <td>@Html.DisplayFor(x => item.Publisher)</td>
                <td>@Html.ActionLink("[Show]", "Details", new { id = item.Id })</td>
                <td>@Html.ActionLink("[Delete]", "Remove", new { id = item.Id })</td>
                <td>@Html.ActionLink("[Edit]", "Edit ", new { id = item.Id })</td>
            </tr>
        }


    </table>
}

