﻿@model CrudOperations.Models.Book
@{
    ViewBag.Title = "BookDetails";
}

<h2>BookDetails</h2>

@Html.ActionLink("Back to the list", "Index");

<table>
    <tr>
        <td>The Id for the car</td>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(x => x.Title)</td>
        <td>@Html.DisplayFor(x => x.Title)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(x => x.Isbn)</td>
        <td>@Html.DisplayFor(x => x.Isbn)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(x => x.Supply)</td>
        <td>@Html.DisplayFor(x => x.Supply)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(x => x.PublishDate)</td>
        <td>@Html.DisplayFor(x => x.PublishDate)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(x => x.Publisher)</td>
        <td>@Html.DisplayFor(x => x.Publisher)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(x => x.FreeBook)</td>
        <td>@Html.DisplayFor(x => x.FreeBook)</td>
    </tr>
</table>

