﻿
@model CrudOperations.Models.Book

<h2>Edit one book</h2>

@using (Html.BeginForm("Edit", "Book"))
{
    @Html.ValidationSummary()

    @Html.AntiForgeryToken()

    @Html.HiddenFor(x => x.Id)
    @Html.Hidden("editAction", ViewData["editAction"].ToString());

    <div class="editor-label">@Html.LabelFor(x => x.Title)</div>
    <div class="editor-filed">@Html.EditorFor(x => x.Title)</div>

    <div class="editor-label">@Html.LabelFor(x => x.PublishDate)</div>
    <div class="editor-filed">@Html.EditorFor(x => x.PublishDate)</div>

    <div class="editor-label">@Html.LabelFor(x => x.Publisher)</div>
    <div class="editor-filed">@Html.EditorFor(x => x.Publisher)</div>

    <div class="editor-label">@Html.LabelFor(x => x.Supply)</div>
    <div class="editor-filed">@Html.EditorFor(x => x.Supply)</div>

    <div class="editor-label">@Html.LabelFor(x => x.FreeBook)</div>
    <div class="editor-filed">@Html.EditorFor(x => x.Isbn)</div>

    <input type="submit" value="send" />

}