﻿@model CrudOperations.Models.BookViewModel
@{
    ViewBag.Title = "BookIndex";
}

<h2>Books Index</h2>

<p style="color:red; font-weight:bold">@TempData["editResult"]</p>
@Html.Partial("BookEdited", Model.EditedBook) 
@Html.Partial("BookList", Model.ListOfBooks)